<div class="card my-3 shadow-sm">
  <div class="card-header border-0 p-4 d-flex justify-content-between">
    <div class="row w-100">
      <div class="col-2">
        <%= search_form_for @filtered_departments, url: department_index_path, class: "d-flex alignitems-center position-relative" do |form| %>
          <%= form.search_field :name_cont,
            class: "form-control form-control-solid",
            placeholder: "Search Department",
            autocomplete: "off"
          %>
        <% end %>
      </div>
      <div class="col-10 text-end">
        <%= link_to new_department_path, class: 'btn btn-success text-white text-center' do %>
          <i class="fa-duotone fa-octagon-plus text-white"></i>
          Department
        <% end %>
      </div>
    </div>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-striped table-hover align-middle">
        <thead>
          <tr class="text-center">
            <th scope="col">ID</th>
            <th scope="col">NAME</th>
            <th scope="col">ACTION</th>
          </tr>
        </thead>
        <tbody>
          <% if @departments.present? %>
            <%= render partial: "department/department", collection: @departments, as: :department %>
          <% else %>
            <tr class="text-center">
              <td class="h3 opacity-25 py-4" colspan="3">
                <i class="fa-duotone fa-file-magnifying-glass me-2"></i>
                No results found.
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <div class="d-flex justify-content-center">
    <%== pagy_bootstrap_nav(@pagy) if @departments.present? %>
  </div>
</div>
