<%= form_with model: @student, method: :patch, html: { class: 'row'}, data: { controller: 'form' } do |form| %>
  <div class="card pt-2 border-0">
    <div class="card-header">
      <div class="card-title h2">Edit <%= @student.last_name %></div>
    </div>
    <div class="card-body">
      <%= render partial: 'student_form', locals: { form: form }%>
    </div>
    <div class="card-footer d-flex align-items-center justify-content-between border-0 mt-5">
      <%= link_to 'Back', students_path, class: 'btn btn-outline-primary'%>
      <%= form.submit 'Save', class: 'btn btn-primary'%>
    </div>
  </div>
<% end %>
