<% if user_signed_in? %>
  <div class="sidebar sidebar-dark sidebar-fixed border-end" id="sidebar">
    <div class="sidebar-header border-bottom">
      <div class="sidebar-brand">
        <%= link_to root_path, class: "text-decoration-none" do %>
          <h5 class="m-0 fw-bolder">EVSU-OC Monitoring</h5>
        <% end %>
      </div>
      <button class="btn-close d-lg-none" type="button" data-coreui-dismiss="offcanvas" data-coreui-theme="dark" aria-label="Close" onclick="coreui.Sidebar.getInstance(document.querySelector(&quot;#sidebar&quot;)).toggle()"></button>
    </div>
    <ul class="sidebar-nav simplebar-scrollable-y" data-coreui="navigation" data-simplebar="init"><div class="simplebar-wrapper" style="margin: -8px;"><div class="simplebar-height-auto-observer-wrapper"><div class="simplebar-height-auto-observer"></div></div><div class="simplebar-mask"><div class="simplebar-offset" style="right: 0px; bottom: 0px;"><div class="simplebar-content-wrapper" tabindex="0" section="region" aria-label="scrollable content" style="height: 100%; overflow: hidden scroll;"><div class="simplebar-content" style="padding: 8px;">

      <li class="nav-item">
        <%= link_to employees_path, class: "nav-link #{request.path.include?('employees') ? 'active' : ''}" do %>
          <i class="fa-duotone fa-users me-2"></i>
          Employees
        <% end %>
        <%= link_to students_path, class: "nav-link #{request.path.include?('students') ? 'active' : ''}" do %>
          <i class="fa-duotone fa-user-graduate me-2"></i>
          Students
        <% end %>
        <%= link_to '#', class: "nav-link" do %>
          <i class="fa-duotone fa-calendar-days me-2"></i>
          Attendances
        <% end %>
        <%= link_to department_index_path, class: "nav-link #{request.path.include?('departments') ? 'active' : ''}" do %>
          <i class="fa-duotone fa-building me-2"></i>
          Departments
        <% end %>
      </li>
    </div></div></div></div><div class="simplebar-placeholder" style="width: 255px; height: 822px;"></div></div><div class="simplebar-track simplebar-horizontal" style="visibility: hidden;"><div class="simplebar-scrollbar" style="width: 0px; display: none;"></div></div><div class="simplebar-track simplebar-vertical" style="visibility: visible;"><div class="simplebar-scrollbar" style="height: 628px; transform: translate3d(0px, 0px, 0px); display: block;"></div></div></ul>
  </div>
<% end %>
