
<%= turbo_frame_tag :attendance_frame, src: attendances_path %>
<div class="position-absolute start-0 top-0 bottom-0 w-100 bg-secondary d-flex align-items-center justify-content-center flex-column bg-opacity-50"
      style="backdrop-filter: blur(3px);">
  <section style="background-color: #eee;">
    <div class="container p-2 border" style='width: 30rem'>
      <div class="row">
        <div class="col-12">
          <div class="card mb-4">
            <div class="card-body text-center">
              <img src="<%= asset_path('blank.png') %>" alt="avatar"
                class="rounded-circle img-fluid" style="width: 150px;">
              <h5 class="my-3"><%= @person.respond_to?(:student_id) ? 'Student' : 'Employee' %></h5>
            </div>
          </div>
        </div>
        <div class="col-12">
          <div class="card mb-4 w-100">
            <div class="card-body">
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0"><%= @person.respond_to?(:student_id) ? 'Student ID' : 'Employee ID' %></p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0"><%= @person.respond_to?(:student_id) ? @person.student_id : @person.employee_id %></p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Name</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0"><%= @person.fullname %></p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Gender</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0"><%= gender_badge(@person.gender) %></p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0"><%= @person.respond_to?(:program) ? 'Program' : 'Department' %></p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0"><%= @person.respond_to?(:program) ? @person.program : @person.department %></p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12">
          <%= link_to attendances_path, class: "btn btn-primary w-100" do %>
            Confirm
          <% end %>
        </div>
      </div>
    </div>
  </section>
</div>

